body {
    
    background-color: burlywood;
}

/* start & answer buttions style */
#start, #answer1, #answer2, #answer3, #answer4, #initialSubmit {
    background-color: rgb(103, 54, 149);
    border-radius: 12px;
    color:white;
    text-align: center;
    border: solid black 2px;
    
}